
.azeret-mono-noraml {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    color: #0D1321;
}

.header{
    margin-bottom: 48px;
}


.page-title{
    font-weight: 800;
    font-size: 32px;
}

.all-content{
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.txt-align{
    text-align: center;
    margin-top: 32px;
}

/* Nav Styles...........................................*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

nav li{
    list-style: none;
}

.nav-link{
    font-weight: 800;
    font-size: 28px;
}

.nav-btn{
    padding: 24px 17px;
    background-color: white;
    font-family: "Azeret Mono", monospace;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
}

/* First Section........................................*/
.first-section{
    background-image: url(../assets/Hero-bg.png);
}

.first-section-content{
    padding: 60px 100px;
}

.first-section-image{
    text-align: center;
}

.first-section-image-title{
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    margin: 43px 150px;
}

.first-section-image-description{
    text-align: center;
    margin: 24px 300px;
}

.first-section-button{
    background-color: #0D1321;
    font-weight: 600;
    font-family: "Azeret Mono", monospace;
    color: #FFFFFF;
    padding: 24px 21px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}


/* Second Section..................................... */
.second-body{
    width: 1140px;
    margin: 0 auto;
    padding: 97px 80px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.second-section{
    text-align: center;
}

.development{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    background-color: #f9f5f5;
}


.second-body-boxes{
    display: flex;
    flex-direction: column;
    gap: 48px;
}


.box-title{
    font-weight: 800;
    font-size: 24px;
}

.mid-box{
    gap: 32px;
}

.box-btn{
    padding: 20px 12px;
    font-weight: 600;
    font-size: 20px;
    font-family: "Azeret Mono", monospace;
    margin-top: 32px;
}

.box-text{
    text-align: left;
}

.box-content{
    background-color: white;
    padding: 48px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: auto;
}

/* Third Section........................................ */
.video{
    padding: 10px;
    background-color: #f9f5f5;
}

.inspiration{
    margin-bottom: 150px;
}

/* Fourth Section........................................... */
.fourth-section{
    margin-bottom: 111px;
}

.skills-html{
    background-color: #efeae9;
    text-align: left;
    padding: 40px;
}

.skills-css{
    background-color: #d7deed;
    text-align: left;
    padding: 40px;
}

.skills-js{
    background-color: #f5f3e8;
    text-align: left;
    padding: 40px;
}

.target-skills{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    border-radius: 10px;
}

.skill-title{
    font-weight: 800;
    font-size: 24px;
}

.skills-link{
    font-weight: bold;
}


/* Fifth Content........................................... */
.fifth-section{
    margin-bottom: 100px;
}

.fifth-content{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.fifth-boxes{
    display: flex;
    flex-direction: column;
    gap: 24px;
}


/* Sixth Section............................................ */
.sixth-section{
    background-image: url(../assets/handshake.jpg);
    padding: 48px 64px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.sixth-page-title{
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.sixth-para{
    color: white;
}

.form-message{
    font-size: 16px;
    width: 550px;
    padding: 20px 19px;
    color: #131B2E;
    border-radius: 10px;
    border: none;
}

.form-button{
    font-family: "Azeret Mono", monospace;
    width: 120px;
    height: 60px;
    padding: 20px 17px;
    color: #0D1321;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.feedback-form{
    display: flex;
    gap: 5px;
    align-items: center;
}
